<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012-2016</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">BS Information Technology</div>
            <h4 class="category">PMAS Arid Agriculture University</h4>
            <ul>
              <li> PMAS Arid Agriculture University Rawalpindi</li>
              <li>Completed BS in Information Technology</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010-2012</p>
            <div class="h5">HSSC</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Karakorum Interational University</div>
            <h4 class="category">Gilgit</h4>
            <ul>
              <li>Completed HSSC From KIU Gilgit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2007-2009</p>
            <div class="h5">SSC</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">FBISE</div>
            <h4 class="category">Islamabad</h4>
            <ul>
              <li>Completed SSC</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2005-2007</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Sedcondary School</div>
            <h4 class="category">Careere Guidence Public School and College Skardu</h4>
            <ul>
              <li>Completed class 7th and 8th</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
